In [1]:
import pandas as pd 
import numpy as np
import os 
from pathlib import Path

In [2]:
p = Path(os.getcwd())
base = pd.read_csv(str(p.parent) + "\\data\\houses_to_rent.csv")

In [3]:
base_copia = base.copy()

In [11]:
base_copia["nova_coluna"] = 78

In [13]:
base_copia.insert(1,"outra_coluna","Pedro Lindo")

In [19]:
base_copia.head(3)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,nova_coluna
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121",78
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493",78
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680",78

In [17]:
del base_copia['outra_coluna']

In [21]:
base_copia.append({"AÃ§ai":300}, ignore_index=True)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,nova_coluna,AÃ§ai
0,0.0,1.0,240.0,3.0,3.0,4.0,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121",78.0,NaN
1,1.0,0.0,64.0,2.0,1.0,1.0,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493",78.0,NaN
2,2.0,1.0,443.0,5.0,5.0,4.0,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680",78.0,NaN
3,3.0,1.0,73.0,2.0,2.0,1.0,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116",78.0,NaN
4,4.0,1.0,19.0,1.0,1.0,0.0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257",78.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6076,6076.0,1.0,84.0,2.0,2.0,1.0,16,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768",78.0,NaN
6077,6077.0,0.0,48.0,1.0,1.0,0.0,13,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255",78.0,NaN
6078,6078.0,1.0,160.0,3.0,2.0,2.0,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803",78.0,NaN
6079,6079.0,1.0,60.0,2.0,1.0,1.0,4,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414",78.0,NaN
6080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300.0