In [12]:
import pandas as pd 
import numpy as np

# Filtros Boleanos

In [2]:
# Operadores lógicos
# & - E
# | - OU
# ~ - NÃO

In [1]:
from pathlib import Path
import os

In [2]:
os

In [15]:
data = pd.read_csv(str(Path(os.getcwd()).parent) + '\\data\\houses_to_rent.csv')

In [18]:
data.rooms > 2

0        True
1       False
2        True
3       False
4       False
        ...
6075    False
6076    False
6077    False
6078     True
6079    False
Name: rooms, Length: 6080, dtype: bool

In [20]:
data["rooms"]> 2

0        True
1       False
2        True
3       False
4       False
        ...
6075    False
6076    False
6077    False
6078     True
6079    False
Name: rooms, Length: 6080, dtype: bool

In [21]:
data.loc[data.rooms > 2]

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
8,8,1,82,3,1,1,3,acept,furnished,R$828,"R$2,000",R$109,R$26,"R$2,963"
13,13,1,375,4,5,5,1,acept,not furnished,"R$4,793","R$15,000","R$2,805",R$191,"R$22,790"
17,17,1,100,3,2,1,-,acept,not furnished,R$0,"R$3,500",R$260,R$53,"R$3,813"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6069,6069,1,114,3,2,3,14,acept,not furnished,"R$1,258","R$3,700",R$952,R$47,"R$5,957"
6070,6070,1,200,4,5,3,2,acept,not furnished,"R$2,600","R$4,500",R$834,R$58,"R$7,992"
6071,6071,0,600,5,5,4,-,acept,not furnished,"R$3,300","R$5,000",R$916,R$76,"R$9,292"
6072,6072,1,200,4,4,4,21,acept,furnished,"R$2,000","R$10,000",R$862,R$127,"R$12,990"
6078,6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803"

In [27]:
data[~(data.rooms > 2) & (data.area > 300)]

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
67,67,1,345,2,3,2,4,not acept,not furnished,"R$3,655","R$12,000",R$783,R$153,"R$16,590"
195,195,1,400,2,5,4,-,acept,not furnished,R$0,"R$6,000",R$484,R$91,"R$6,575"
1085,1085,1,500,2,2,1,-,acept,not furnished,R$129,"R$2,260",R$0,R$34,"R$2,423"
1338,1338,1,380,2,4,0,21,acept,furnished,"R$3,490","R$6,800","R$2,863",R$87,"R$13,240"
1419,1419,1,310,2,6,3,11,not acept,not furnished,"R$2,300","R$6,000",R$764,R$77,"R$9,141"
1460,1460,1,440,1,2,4,-,acept,not furnished,R$1,"R$9,800",R$584,R$148,"R$10,530"
1711,1711,1,330,2,4,3,-,acept,not furnished,R$0,"R$6,000","R$2,000",R$91,"R$8,091"
1714,1714,1,305,2,3,0,10,acept,not furnished,"R$3,500","R$5,000",R$667,R$64,"R$9,231"
1875,1875,1,830,2,2,2,-,acept,not furnished,R$0,"R$2,001",R$159,R$31,"R$2,191"
2010,2010,1,418,2,4,3,17,not acept,not furnished,"R$5,274","R$6,875",R$117,R$88,"R$12,350"
2682,2682,1,340,2,4,3,14,acept,not furnished,"R$4,900","R$15,000",R$917,R$191,"R$21,010"
3766,3766,0,350,2,2,2,-,acept,not furnished,R$0,"R$4,300",R$150,R$65,"R$4,515"
4244,4244,1,330,2,3,2,-,not acept,not furnished,R$0,"R$2,800",R$732,R$43,"R$3,575"
5469,5469,1,330,1,3,8,-,acept,not furnished,R$0,"R$3,147",R$0,R$48,"R$3,195"
5881,5881,1,350,2,4,8,-,not acept,not furnished,R$0,"R$3,300",R$450,R$50,"R$3,800"

In [28]:
filtro = ((data.rooms == 3) & (data.floor == "5")) | (data.area > 550)

In [29]:
data[filtro]

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
41,41,1,800,4,5,4,9,acept,not furnished,"R$6,000","R$15,000","R$3,334",R$191,"R$24,530"
44,44,0,650,5,4,8,-,acept,furnished,R$0,"R$8,500",R$442,R$128,"R$9,070"
63,63,1,750,7,6,5,-,acept,furnished,R$0,"R$5,800",R$559,R$88,"R$6,447"
180,180,1,170,3,2,2,5,not acept,not furnished,"R$2,199","R$5,000",R$423,R$64,"R$7,686"
226,226,1,122,3,4,3,5,acept,not furnished,Incluso,"R$4,500",R$0,R$58,"R$4,558"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5908,5908,1,105,3,2,2,5,acept,not furnished,"R$1,661","R$1,000",R$290,R$13,"R$2,964"
5941,5941,1,600,4,5,6,-,acept,not furnished,R$0,"R$6,000","R$3,000",R$51,"R$9,051"
5968,5968,1,210,3,4,3,5,acept,furnished,"R$4,100","R$9,945","R$1,000",R$127,"R$15,170"
6045,6045,1,600,5,5,6,-,acept,not furnished,R$0,"R$12,750","R$1,059",R$192,"R$14,000"
6071,6071,0,600,5,5,4,-,acept,not furnished,"R$3,300","R$5,000",R$916,R$76,"R$9,292"